$primary:#009688;
$dark: #004d40;

$colors: (
  primary:    #009688,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #004d40
);


.alert-button{
  color: $primary!important;
}
.alert-md{
  color: $dark!important;
}

.theme-normal {


    //
    // // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content
    // transition: all 1.1s ease;
    // background-color: #fff;
    // p,
    // .toolbar-title,
    // .bar-button-default,
    // body,
    // div {
    //   transition: all 1.1s ease;
    //   color: white;
    // }
    // .onboard {
    //   border-color: #f44336 !important;
    // }
    // .toolbar-background,
    // .toggle-checked {
    //   transition: all 1.1s ease;
    //   background-color: #f44336 !important;
    // }

    //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more

    ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    ion-footer,
    ion-item,
    ion-label {
      transition: all 1.1s ease;
      background-color: #fff !important;
      background: #fff !important;
      color: #000 !important;
    }
    ion-list {
      background-color: #fff;
    }
    // .time {
    //   background-color: white;
    // }
    // .item {
    //   transition: all 1s ease;
    //   background-color: #f44336;
    //   color: white;
    // }
    button{
      background-color: $primary!important;
    }
    a{
      color: $primary!important;
    }




    .title {
      margin: 40px auto;
      width: 200px;
      height: 200px;
    }

    .middle-row {
      border-top: 5px solid #000;
      border-bottom: 5px solid #000;
    }

    .middle-col {
      border-left: 5px solid #000;
      border-right: 5px solid #000;
    }
    // ----------------------
    // -----GAME-------------
    // ----------------------

    .menuTop {
      max-width: 500px;
      margin: auto;
    }

    .max-550 {
      max-width: 500px;
      margin: auto;
    }


    .board {
      // width: 100%;
      // padding-top: 100%;
      //   position: relative;
      // margin-top: 5%;
      // text-align: center;
      // width: 90%;
      // max-width: 400px;
      // height: 400px;
      // margin: auto;
    }

    .row {
      text-align: center;
    }

    .box {
      display: inline-block;
      width: 11%;
      text-align: center;
        padding: .5%;
    }

    .insidebox {
      height: 100%;
      padding: 30%;
      cursor: pointer;
     animation:  2s;
      border-radius: 20%;
    }
    .square{
      animation: square 2s ;
      border-radius: 0%;
    }
    @keyframes square {
      from {  border-radius: 50%;}
      to {  border-radius: 0%;}
    }

    .circle{
       animation: circle 2s ;
      border-radius: 50%;
    }
    @keyframes circle {
      from {  border-radius: 0%;}
      to {  border-radius: 50%;}
    }

    .fixed {
      background-color: #80cbc4;
      cursor: context-menu;
    }

    .selected {
      border: 1px solid;
    }

    .border-right {
      border-right: 2px solid;
    }

    .border-bottom {
      border-bottom: 2px solid;
    }

    .numberContainer {
      margin-top: 10px;
    }

    .numberSelect {
      font-size: 16px;
      display: inline-block;
      width: 20%;
      text-align: center;
      padding: 0.5em;
      max-height: 60px;
    }

    .number {
      cursor: pointer;
      background-color: #eee;
      padding: 1em;
      border-radius: 50%;
    }

    .extrasContainer {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      // align-content: space-around;
    }

    .extrasContainer > div {
      background-color: #777777;
      color: #fff;
      height: 20px;
      cursor: pointer;
      width: 20%;
      border-radius: 5px;
      margin: 2%;
      text-align: center;
    }

}
