// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//--------------HOME
.main-menu {
  margin: 50% auto;
  height: 50%;
  padding: 10px;
  text-align: center;
}

.menu-row {
  height: 33%;
  display: flex;

  div {
    padding-top: 11%;
  }
}

.middle-row {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.menu-col {
  width: 33%;
}

.middle-col {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
//--------------GAME
.board {
  margin: 40% auto;
  height: 50%;
  padding: 10px;
  text-align: center;
  // width: 90%;
  // max-width: 400px;
  // height: 400px;
  // margin: auto;
}

.row {
  text-align: center;
}

.box {
  display: inline-block;
  width: 11%;
  text-align: center;
}

.insidebox {
  height: 100%;
  padding: 30%;
}

.border-right {
  border-right: 2px solid;
}

.border-bottom {
  border-bottom: 2px solid;
}
