<ion-content>

  <ion-row class=" max-550" justify-content-between>
    <ion-col col-3>
      <button (click)="pauseGame()" ion-button icon-start  left>
        <ion-icon name="md-arrow-round-back"></ion-icon>
        Home
      </button>
    </ion-col>
    <ion-col col-5 text-right>
      <ion-item text-right no-lines>
        {{arrayDificulties[this.game.difficulty]}}
      </ion-item>
    </ion-col>
    <ion-col col-4 text-right>
      <ion-item text-right no-lines>
        <ion-icon (click)="beer()" name="trophy" item-end></ion-icon>
        {{this.records[this.game.difficulty] | record}} s
      </ion-item>
      <!-- <ion-item  text-right no-lines>
        <ion-icon (click)="beer()" name="trophy" item-end></ion-icon>
        ?? s
      </ion-item> -->
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
  <div class=" max-550">
    <div class="board" padding-horizontal>
      <div class="row" *ngFor="let row of gameBoard; let i =index">
        <div class="box" *ngFor="let column of gameBoard[i];let j = index" (click)="selectBox(i,j)" [ngClass]="{'border-right': j==2||j==5,' border-bottom': i==2||i==5}">
          <div class="insidebox" id="{{ 'box-' + i+j }}" [ngClass]="{ 'fixed': (gameBoard[i][j]==this.game.boardHistory[0][i][j]) && (gameBoard[i][j]!='') }">
            <div>{{gameBoard[i][j]}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="numberContainer" padding-horizontal>
      <div class="numberSelect" *ngFor="let number of numbers" (click)="putNumber(number)">
        <button ion-button round> {{number}}</button>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <button (click)="goBack()" ion-button left icon-only>
            <ion-icon name="undo"></ion-icon>
          </button>
          <button (click)="restartBoard()" ion-button icon-only>
            <ion-icon name="refresh"></ion-icon>
          </button>
          <button (click)="hint()" ion-button left icon-only>
            <ion-icon name="eye"></ion-icon>
          </button>
          <button (click)="pauseGame()" ion-button left icon-only >
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-4>
          <ion-item no-lines>
            <ion-icon (click)="beer()" name="md-timer" item-end></ion-icon>
            {{this.game.time}} s.
          </ion-item>

        </ion-col>
        <!-- <ion-col>
          <button (click)="restartBoard()" ion-button round right icon-only color="dark">
            <ion-icon name="md-eye"></ion-icon>
          </button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <!-- </div> -->

</ion-content>
