<ion-content padding>
  <ion-icon navPop left name="arrow-round-back"></ion-icon>
{{this.game.time}}
  <div class="board">
    <div class="row" *ngFor="let row of gameBoard; let i =index">
      <div class="box" *ngFor="let column of gameBoard[i];let j = index">
        <div class="insidebox" [ngClass]="{'border-right': j==2||j==5,' border-bottom': i==2||i==5}">
          {{gameBoard[i][j]}}
        </div>
      </div>
    </div>
  </div>
<div class="numberContainer">
  <div class="numberSelect" *ngFor="let number of numbers">{{number}}</div>
</div>
</ion-content>
